#wrapper {
    width: 960px;
    background-color: blanchedalmond;
}
.fullPercent {
    width: 100%;
    height: 100%;
}
.textCenter {
    text-align: center;
}
#sideCard {
    padding: 18px;
}
.thinBorder {
    border: 1px black solid;
}
.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.displayInline {
    display: inline;
}
.sqrPadding {
    padding-left: 31px;
    padding-right: 31px;
}

#banner {

    background-image: url("../images/happy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 367px;

}
#banner h1 {
    position: relative;
    top: 115px;
    left: 100px;
}

.floatLeft {
    float: left;
}

#top {
    height: 135px;
    line-height: 135px;
}

.clearMargin {

    margin: 0px;
}
.clearPadding {
    padding: 0px;
}

.clearFix {
    clear: both;
}

.grSmall {
    width: 329px;
    padding-left: 19px;
    padding-right: 19px;
}

.grBig {
    width: 545px;
    padding-left: 24px;
    padding-right: 24px;
}
.grFont {
    line-height: 27px;
    font-size: 16px;

}
#logo {
    height: 135px;
}
.Helvetica {
    font-family: "Helvetica Neue";
}


.textRight {
    text-align: right;
}


#panel1, #panel2, #panel3 {
    padding-left: 18px;
    padding-right: 18px;
    width: 284px;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}